# Part 2. Get the latitude and the longitude coordinates of each neighborhood.

In [2]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
# read the previously saved dataframe
df1 = pd.read_csv('/home/marcelo/Documentos/Cursos/Coursera/IBM specialization/Data Science Capstone/canada.csv')
df.head()

NameError: name 'df' is not defined

In [4]:
# Load the provided coordinates data 
df2 = pd.read_csv('/home/marcelo/MEGA/MEGAsync/Cursos/Coursera/IBM specialization/Data Science Capstone/Geospatial_Coordinates.csv')
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [5]:
# Merge dataframes 
df = pd.merge(df1,df2, how='left', on=['Postal Code'])
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [6]:
# Check for missing values
print('Total missing values: ', df.isnull().sum().sum())
print('Shape: ', df.shape)

Total missing values:  0
Shape:  (103, 5)

In [7]:
# save de dataframe for next part
df.to_csv('/home/marcelo/Documentos/Cursos/Coursera/IBM specialization/Data Science Capstone/canada2.csv', index=False)